/* style.css */
/* style.css */
.container {
    text-align: center; /* Center all text */
  }
body {
    background-color: whitesmoke; 
  }
  
  h1 {
    font-size: 2rem; 
    color: #333; 
    font-family: 'Arial', sans-serif; 
  }
  


  